@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap");
.shiny-text {
  /* font-familyk: "Monofett", cursive; */
  /* color: yellow; */
  background: linear-gradient(
    to right,
    #c0c0c0 20%,
    #ff0 40%,
    #ff0 60%,
    #c0c0c0 80%
  );
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 2s linear infinite;
  /* font-weight: 100; */
  /* animation: glow 1s ease-in-out infinite alternate; */
  font-family: "Poppins", sans-serif;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}
