.main-container-submenu {
  background-size: cover;
  background-position: center;
  /* height: 100vh; */
  overflow: hidden;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1002%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(33%2c 11%2c 71%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c605.148C108.367%2c579.141%2c166.502%2c463.844%2c266.569%2c414.789C386.405%2c356.043%2c558.358%2c398.139%2c639.082%2c291.859C718.512%2c187.283%2c669.553%2c36.387%2c652.919%2c-93.876C636.038%2c-226.076%2c624.138%2c-364.681%2c541.857%2c-469.522C457.821%2c-576.599%2c333.835%2c-668.281%2c197.829%2c-673.744C66.436%2c-679.022%2c-35.05%2c-567.772%2c-145.977%2c-497.153C-227.466%2c-445.275%2c-289.83%2c-377.149%2c-364.439%2c-315.788C-457.498%2c-239.253%2c-593.619%2c-203.545%2c-638.79%2c-91.844C-685.88%2c24.601%2c-652.059%2c159.774%2c-603.619%2c275.664C-554.202%2c393.892%2c-476.267%2c504.677%2c-363.792%2c566.071C-254.527%2c625.713%2c-121.046%2c634.198%2c0%2c605.148' fill='%231a0939'%3e%3c/path%3e%3cpath d='M1440 980.033C1525.664 985.0640000000001 1626.646 1007.058 1690.378 949.596 1754.876 891.443 1717.138 781.9159999999999 1749.231 701.221 1778.9270000000001 626.553 1877.992 578.137 1869.905 498.189 1861.862 418.674 1768.655 380.555 1711.18 325.022 1659.3029999999999 274.898 1617.646 210.892 1549.149 188.27100000000002 1479.681 165.32999999999998 1407.045 191.35500000000002 1334.476 200.618 1247.142 211.76600000000002 1131.961 176.997 1080.098 248.14299999999997 1026.901 321.119 1105.673 421.88300000000004 1107.363 512.174 1108.693 583.257 1071.9769999999999 651.283 1088.934 720.326 1107.88 797.466 1143.976 874.014 1207.835 921.255 1273.339 969.713 1358.66 975.256 1440 980.033' fill='%23280d55'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1002'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.container-sub-menus {
  display: flex;
  gap: 30px;
  font-family: "Mulish", sans-serif;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
  margin-bottom: 100px;
  /* margin-bottom: 800px; */

  /* background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1000%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M0%2c706.44C127.815%2c730.342%2c241.613%2c608.184%2c328.939%2c511.839C404.165%2c428.844%2c397.92%2c304.43%2c452.857%2c206.813C515.232%2c95.98%2c675.615%2c30.586%2c671.312%2c-96.52C667.091%2c-221.202%2c530.955%2c-297.883%2c433.148%2c-375.325C349.472%2c-441.578%2c247.789%2c-467.686%2c149.627%2c-509.581C36.304%2c-557.947%2c-70.406%2c-677.064%2c-188.054%2c-640.452C-306.051%2c-603.731%2c-308.658%2c-430.848%2c-393.151%2c-340.667C-482.89%2c-244.886%2c-647.907%2c-222.547%2c-694.547%2c-99.861C-742.135%2c25.319%2c-720.311%2c187.756%2c-632.461%2c288.835C-545.23%2c389.201%2c-369.325%2c328.74%2c-258.357%2c402.011C-144.994%2c476.863%2c-133.53%2c681.469%2c0%2c706.44' fill='%230b2239'%3e%3c/path%3e%3cpath d='M1440 890.304C1503.358 887.387 1562.984 868.225 1619.156 838.7719999999999 1679.754 806.999 1748.314 776.023 1776.6970000000001 713.764 1805.076 651.514 1770.771 581.226 1767.725 512.88 1764.267 435.28700000000003 1803.884 347.174 1757.58 284.816 1711.443 222.683 1617.1109999999999 231.50799999999998 1542.784 209.95100000000002 1468.746 188.478 1395.293 134.279 1322.115 158.52100000000002 1249.048 182.726 1218.995 267.432 1176.1770000000001 331.39599999999996 1138.542 387.618 1105.758 444.199 1087.308 509.291 1066.482 582.768 1030.0729999999999 663.253 1062.52 732.389 1094.952 801.4929999999999 1179.497 826.312 1249.919 855.7719999999999 1310.556 881.139 1374.341 893.327 1440 890.304' fill='%23113255'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1000'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e"); */
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  color: white;
  text-align: center;
  width: 350px;
  height: 165px;
  border-radius: 7px;
  background-size: cover;
  background-position: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.621);
  cursor: pointer;
}
.mine {
  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
  );
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.168);
}
.category-title {
  text-transform: capitalize;
}
.icon-sub-menu {
  width: 50px;
}
